# Port on host machine
PORT=5175

# MinIO Server Configuration
MINIO_ENDPOINT=your-minio-server.com
MINIO_ACCESS_KEY=YOUR_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_MINIO_SECRET_KEY
MINIO_WITH_SSL=true
MINIO_REGION=
