# Ports on host machine
PORT_API=9000
PORT_CONSOLE=9001

# MinIO Server Configuration
MINIO_ENDPOINT=your-minio-server.com
MINIO_ACCESS_KEY=YOUR_MINIO_ACCESS_KEY
MINIO_SECRET_KEY=YOUR_MINIO_SECRET_KEY
MINIO_WITH_SSL=true
MINIO_REGION=
